@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  user-select: none !important;
  outline: none !important;
}


error {

  color: red ; 
  align-content: center ;  

}


#container{
  max-width: 500px;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
}

.input-group[_ngcontent-c1] .input-group-addon[_ngcontent-c1] {
    background: #457777;
    transition: 0.5s;
    border-color:#457777;
}
.panel{
  box-shadow: 0px 2px 25px 0px rgba(122, 122, 122, 0.55);
  border-radius: 3px;
}

.panel{
  font-weight: bold;
}

input{
  font-weight: initial;
  border: 1px solid #457777!important;
}

input:focus{
  box-shadow: none !important;
  border: 1px solid #457777 !important;
  background: #fafafa;
}

.input-group .input-group-addon i{
  color: #fff;
  transition: 0.5s;
}
.input-group .input-group-addon{
  background: #457777;
  transition: 0.5s;
  border-color: #457777;
}


label{
  font-weight: initial;
}

button{
  border-color: #457777 !important;
  border-radius: 2px !important;
  background: transparent !important;
  color: black !important;
  padding: 7px 30px !important;
}

button:hover{background: #fffce5 !important;}
button:active{background: #457777 !important;}

.panel-heading[_ngcontent-c1] {
    background: #457777!important;
    border-color: #457777 !important;
    color: #fff !important;
}

.r-circle{
  width: 25px;
  height: 25px;
  background: white;
  z-index: 50;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #fffce5;
  right: 10px;
  color: #a07223;
  margin-top: -3px;
}

.r-circle i{
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}